<template>
  <div class="home">
    <div class="md-layout">
      <div class="md-layout-item md-size-25">
        <md-toolbar
          class="md-primary mt-2"
          v-for="categorie in categories"
          :key="categorie.name"
        >
          <div class="item-category" @click="showProduct(categorie.products)">
            <h3 class="md-title">{{ categorie.name }}</h3>
          </div>
        </md-toolbar>
      </div>
      <div class="md-layout-item md-size-75">
        <ProductList
          v-if="showProductList"
          class="mt-2 ml-2"
          :products="products"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import categorieInterface from "@/domain/produits/interfaces/CategorieInterface";
import ProductInterface from "@/domain/produits/interfaces/ProductInterface";
import { Component, Vue } from "vue-property-decorator";
import { Getter, Mutation } from "vuex-class";
import ProductList from "../../components/commande/ProductList.vue";

@Component({
  components: {
    ProductList
  }
})
export default class Commander extends Vue {
  @Getter("getCategorieList") categories!: categorieInterface[];
  @Mutation("setCategorieList") setCategorieList!: Function;
  private products!: ProductInterface[];
  private showProductList: boolean = false;
  /*private mounted(){
    this.setCategorieList()
  }*/
  private showProduct(products: ProductInterface[]) {
    if (this.showProductList) {
      this.showProductList = false;
    }
    this.showProductList = !this.showProductList;
    this.products = products;
  }
}
</script>
<style>
.mt-2 {
  margin-top: 2rem;
}
.ml-2 {
  margin-left: 2rem;
}
.item-category {
  width: 100%;
  padding: 19px;
  cursor: pointer;
}
.item-category:hover h3 {
  color: red !important;
}
</style>
