<template>
  <div>
    <ListProduit />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ListProduit from "@/domain/produits/ListProduit.vue";
@Component({
  components: {
    ListProduit
  }
})
export default class extends Vue {}
</script>

<style scoped></style>
