<template>
  <div id="app">
    <div id="nav">
      <md-tabs
        class="md-primary"
        md-active-tab="tab-produit"
        md-alignment="centered"
      >
        <md-tab id="tab-commander" md-label="Commander" to="/"></md-tab>
        <md-tab
          id="tab-produit"
          md-label="Gestion des produits"
          to="/gestion-des-produits"
        ></md-tab>
        <md-tab id="tab-panier" md-label="Panier" to="/panier"></md-tab>
      </md-tabs>
    </div>
    <router-view />
  </div>
</template>

<style lang="scss">
.md-tabs {
  margin-bottom: 24px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
