<template>
  <div class="md-layout justify-content-space-evenly">
    <div
      class="md-layout-item md-size-30"
      v-for="product in products"
      :key="product.name"
    >
      <md-card>
        <md-card-media-cover md-solid>
          <md-card-media md-ratio="4:3">
            <img src="@/assets/macdo.png" alt="Skyscraper" />
          </md-card-media>
          <md-card-area>
            <md-card-header>
              <span class="md-title">{{ product.name }}</span>
              <span class="md-subhead">{{ product.price }} €</span>
            </md-card-header>
          </md-card-area>
        </md-card-media-cover>
      </md-card>
    </div>
  </div>
</template>

<script lang="ts">
import ProductInterface from "@/domain/produits/interfaces/ProductInterface";
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class ProductList extends Vue {
  @Prop() products!: ProductInterface[];
}
</script>

<style scoped>
.justify-content-space-evenly {
  justify-content: space-evenly;
}
.md-title {
  font-size: 12px !important;
}
</style>
