<template>
  <div class="md-layout">
    <div class="md-layout-item md-small-size-100 md-xsmall-size-100">
      <h1 class="section__title">Liste des produits</h1>
      <div class="md-layout md-gutter justify-content-center">
        <div
          class="md-layout-item md-size-90 "
          v-for="categorie in categories"
          :key="categorie.name"
        >
          <CategorieItem
            class="mt-3"
            :categorie="categorie"
            @editProduct="editProduct"
          />
        </div>
      </div>
    </div>
    <div class="md-layout-item md-small-size-100 md-xsmall-size-100">
      <EditProduct
        v-if="isEditing"
        :product="editingProduct"
        @cancelEditProduct="cancelEditProduct"
      />
      <AddProduct />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ProductInterface from "@/domain/produits/interfaces/ProductInterface";
import { Getter, Mutation } from "vuex-class";
import ProductItem from "../components/Produits/ProductItem.vue";
import CategorieItem from "../components/Categories/CategorieItem.vue";
import AddProduct from "../components/Produits/AddProduct.vue";
import EditProduct from "../components/Produits/EditProduct.vue";
import CategorieInterface from "./interfaces/CategorieInterface";
import { mapGetters } from "vuex";
@Component({
  components: {
    ProductItem,
    AddProduct,
    CategorieItem,
    EditProduct
  }
})
export default class ListProduit extends Vue {
  @Mutation("setProductListOnMount") setProductListOnMount!: Function;
  @Getter("getCategorieList") categories!: CategorieInterface[];
  @Getter("getEditingProduct") editingProduct!: ProductInterface;
  private cats: CategorieInterface[] = [];
  private isEditing: boolean = false;

  private editProduct() {
    this.isEditing = true;
  }
  private cancelEditProduct() {
    this.isEditing = false;
  }
}
</script>

<style scoped>
.mt-3 {
  margin-top: 3rem;
}
.justify-content-center {
  justify-content: center;
}
</style>
