<template>
  <div>
    <h1 class="section__title">Ajouter un nouveau produit</h1>

    <div class="md-layout md-gutter">
      <div class="md-layout-item md-size-15"></div>
      <div class="md-layout-item">
        <md-field>
          <label>Nom du produit</label>
          <md-input v-model="name" required></md-input>
          <md-icon class="md-primary">reorder</md-icon>
        </md-field>
        <md-field>
          <label>Prix du produit</label>
          <md-input type="number" v-model="price"></md-input>
          <md-icon class="md-primary">euro_symbol</md-icon>
        </md-field>
        <md-autocomplete
          v-model="categorieSelected"
          :md-options="getCategoryListName"
          :md-open-on-focus="false"
        >
          <label>Type du produit</label>
          <md-icon class="md-primary">folder</md-icon>
        </md-autocomplete>
        <md-field>
          <label>Description</label>
          <md-textarea v-model="description" required></md-textarea>
          <md-icon class="md-primary">description</md-icon>
        </md-field>
        <span class="error-message" v-if="errorMsg">{{ errorMsg }}</span>
        <div class="md-layout md-gutter md-alignment-center-right">
          <md-button @click="saveProduct" class="md-fab md-mini md-primary">
            <md-icon>add</md-icon>
          </md-button>
        </div>
      </div>
      <div class="md-layout-item md-size-15"></div>
    </div>
  </div>
</template>

<script lang="ts">
import CategorieInterface from "@/domain/produits/interfaces/CategorieInterface";
import ProductInterface from "@/domain/produits/interfaces/ProductInterface";
import { Component, Vue } from "vue-property-decorator";
import { Getter, Mutation } from "vuex-class";
import categorieList from "@/domain/produits/services/categorieProduct";
import { isAvailableCategorie } from "@/domain/produits/services/helper";
@Component
export default class AddProduct extends Vue {
  @Mutation("setProductList") setProductList!: Function;
  @Mutation("addNewCategory") addNewCategory!: Function;
  @Getter("getCategorieList") getCategorieList!: CategorieInterface[];
  @Getter("getCategoryListName") getCategoryListName!: string[];
  private name: string = "";
  private price: number = 0;
  private description: string = "";
  private categorieSelected: string = "";
  private categorieList: CategorieInterface[] = [];
  private errorMsg: string = "";

  saveProduct(): void {
    if (
      this.name === "" ||
      this.price <= 0 ||
      this.description === "" ||
      this.categorieSelected === ""
    ) {
      this.errorMsg = "Merci de remplir tous les champs requis*";
    } else {
      if (isAvailableCategorie(this.categorieSelected, this.getCategorieList)) {
        this.setProductList(
          {
            name: this.name,
            price: this.price,
            description: this.description,
            categorieSelected: this.categorieSelected
          },
          this.categorieSelected
        );
        this.errorMsg = "";
      } else {
        this.addNewCategory({
          name: this.categorieSelected,
          products: [
            {
              name: this.name,
              price: this.price,
              description: this.description,
              categorieSelected: this.categorieSelected
            }
          ]
        });
      }
      this.name = "";
      this.price = 0;
      this.description = "";
      this.categorieSelected = "";
      this.errorMsg = "";
    }
  }
}
</script>

<style scoped>
.error-message {
  background: #ff5252;
  color: white;
  padding: 2px 10px;
  border-radius: 4px;
  font-size: 12px;
}
</style>
