<template>
  <div>
    <h1 class="section__title">Modifier un produit</h1>
    <div class="md-layout md-gutter">
      <div class="md-layout-item md-size-15"></div>
      <div class="md-layout-item">
        <md-field>
          <label>Nom du produit</label>
          <md-input v-model="name" required></md-input>
          <md-icon class="md-primary">reorder</md-icon>
        </md-field>
        <md-field>
          <label>Prix du produit</label>
          <md-input type="number" v-model="price"></md-input>
          <md-icon class="md-primary">euro_symbol</md-icon>
        </md-field>
        <md-autocomplete
          v-model="categorieSelected"
          :md-options="getCategoryListName"
          :md-open-on-focus="false"
        >
          <label>Type du produit</label>
          <md-icon class="md-primary">folder</md-icon>
        </md-autocomplete>
        <md-field>
          <label>Description</label>
          <md-textarea v-model="description" required></md-textarea>
          <md-icon class="md-primary">description</md-icon>
        </md-field>
        <span class="error-message" v-if="errorMsg">{{ errorMsg }}</span>
        <div class="md-layout md-gutter md-alignment-center-right">
          <md-button
            @click="cancelEditProduct()"
            class="md-fab md-mini md-danger"
          >
            <md-icon>clear</md-icon>
          </md-button>
          <md-button @click="editProduct()" class="md-fab md-mini md-primary">
            <md-icon>edit</md-icon>
          </md-button>
        </div>
      </div>
      <div class="md-layout-item md-size-15"></div>
    </div>
  </div>
</template>

<script lang="ts">
import categorieInterface from "@/domain/produits/interfaces/CategorieInterface";
import ProductInterface from "@/domain/produits/interfaces/ProductInterface";
import { isAvailableCategorie } from "@/domain/produits/services/helper";
import { Component, Prop, Vue } from "vue-property-decorator";
import { Getter, Mutation } from "vuex-class";

@Component
export default class EditProduct extends Vue {
  @Getter("getCategoryListName") getCategoryListName!: string[];
  @Getter("getCategorieList") getCategorieList!: categorieInterface[];
  @Mutation("updateProduct") updateProduct!: Function;
  @Mutation("updateProductMove") updateProductMove!: Function;
  @Mutation("removeProductAndAddCategorie")
  removeProductAndAddCategorie!: Function;
  private name: string = "";
  private price: number = 0;
  private description: string = "";
  private categorieSelected: string = "";
  private errorMsg: string = "";
  @Prop() product!: ProductInterface;

  private mounted() {
    this.name = this.product.name;
    this.price = this.product.price;
    this.categorieSelected = this.product.categorieSelected;
    this.description = this.product.description;
  }
  private editProduct() {
    if (
      this.name === "" ||
      this.price <= 0 ||
      this.description === "" ||
      this.categorieSelected === ""
    ) {
      this.errorMsg = "Merci de remplir tous les champs requis*";
    } else {
      //New category is Available and equal old category
      if (
        isAvailableCategorie(this.categorieSelected, this.getCategorieList) &&
        this.product.categorieSelected === this.categorieSelected
      ) {
        const product: ProductInterface = {
          name: this.name,
          price: this.price,
          description: this.description,
          categorieSelected: this.categorieSelected
        };
        this.updateProduct({
          name: this.name,
          price: this.price,
          description: this.description,
          categorieSelected: this.categorieSelected
        });
        this.cancelEditProduct();
      } else if (
        isAvailableCategorie(this.categorieSelected, this.getCategorieList) &&
        this.product.categorieSelected !== this.categorieSelected
      ) {
        //New category is Available and but different of old category
        this.updateProductMove({
          name: this.name,
          price: this.price,
          description: this.description,
          categorieSelected: this.categorieSelected
        });
        this.cancelEditProduct();
      } else if (
        !isAvailableCategorie(this.categorieSelected, this.getCategorieList)
      ) {
        //New category is not Available: create category and
        const newCategory: categorieInterface = {
          name: this.categorieSelected,
          products: [
            {
              name: this.name,
              price: this.price,
              description: this.description,
              categorieSelected: this.categorieSelected
            }
          ]
        };
        this.removeProductAndAddCategorie(newCategory);
        this.cancelEditProduct();
      }
    }
  }
  private cancelEditProduct() {
    this.$emit("cancelEditProduct");
  }
}
</script>

<style scoped>
.error-message {
  background: #ff5252;
  color: white;
  padding: 2px 10px;
  border-radius: 4px;
  font-size: 12px;
}
</style>
