<template>
  <md-card>
    <md-card-media>
      <img
        src="@/assets/macdo.png"
        class="product__item__logo"
        alt="Logo product"
      />
    </md-card-media>
    <md-card-header>
      <div class="md-title">{{ product.name }}</div>
      <div class="md-subhead">{{ product.price }} €</div>
    </md-card-header>

    <md-card-expand>
      <md-card-actions md-alignment="space-between">
        <div>
          <md-button @click="editProduct(product)">
            <md-icon>edit</md-icon>
          </md-button>
          <md-button @click="deleteProduct(product)">
            <md-icon>delete</md-icon>
          </md-button>
        </div>
        <md-card-expand-trigger>
          <md-button class="md-icon-button">
            <md-icon>add</md-icon>
          </md-button>
        </md-card-expand-trigger>
      </md-card-actions>
      <md-card-expand-content>
        <md-card-content>
          <p>{{ product.description }}</p>
        </md-card-content>
      </md-card-expand-content>
    </md-card-expand>
  </md-card>
</template>

<script lang="ts">
import ProductInterface from "@/domain/produits/interfaces/ProductInterface";
import { Component, Prop, Vue } from "vue-property-decorator";
import { Mutation } from "vuex-class";
@Component
export default class ProductItem extends Vue {
  @Mutation("setEditingProduct") setEditingProduct!: Function;
  @Mutation("removeProduct") removeProduct!: Function;
  @Prop() private product!: ProductInterface;

  editProduct(product: ProductInterface) {
    this.setEditingProduct(product);
    this.$emit("editProduct", product);
  }
  deleteProduct(value: ProductInterface) {
    this.removeProduct(value);
  }
}
</script>

<style scoped>
.product__item__logo {
  width: 30%;
  margin: 1rem;
}
.md-card .md-title {
  font-size: 15px;
}
</style>
