<template>
  <div class="viewport">
    <md-toolbar :md-elevation="1" class="md-primary">
      <span class="md-title">{{ categorie.name }}</span>
    </md-toolbar>
    <md-list class="md-double-line">
      <div v-if="categorie.products.length == 0">
        Auncun produit
      </div>
      <div class="md-layout justify-content-space-around">
        <div
          class="md-layout-item md-size-45"
          v-for="(product, index) in categorie.products"
          :key="product.name + index"
        >
          <ProductItem
            class="mt-2"
            :product="product"
            @editProduct="editProduct"
          />
        </div>
      </div>
    </md-list>
  </div>
</template>

<script lang="ts">
import CategorieInterface from "@/domain/produits/interfaces/CategorieInterface";
import ProductInterface from "@/domain/produits/interfaces/ProductInterface";
import { Component, Prop, Vue } from "vue-property-decorator";
import ProductItem from "@/domain/components/Produits/ProductItem.vue";
import { Getter } from "vuex-class";
@Component({
  components: {
    ProductItem
  }
})
export default class CategorieItem extends Vue {
  @Prop() private categorie!: CategorieInterface;
  private products: ProductInterface[] = [];
  private editProduct(product: ProductInterface) {
    this.$emit("editProduct", product);
  }
  private cancelEditProduct() {
    this.$emit("cancelEditProduct");
  }
}
</script>

<style scoped>
.justify-content-space-around {
  justify-content: space-around;
}
.mt-2 {
  margin-top: 2rem;
}
</style>
